<!DOCTYPE html>
<html ng-app="twitterApp" xmlns="http://www.w3.org/1999/html">
<head>
    <title>AngularJS Twitter Authentication with OAuth.io</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="oauth.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
    <style>
        .container {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #results .row {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div class="container" ng-controller="TwitterController">

        <div class="row">
            <div class="col-xs-12">
                <button ng-click="connectButton()" id="connectButton" type="button" class="pull-right btn btn-primary">Connect Twitter</button>
                <!--<button ng-click="refreshTimeline()" id="getTimelineButton" type="button" class="pull-right  btn btn-primary" style="display:none;">Get My Timeline</button>-->
                <button ng-click="signOut()" id="signOut" type="button" class="pull-right btn btn-link" style="display:none;">Sign Out</button>
            </div>
        </div>
        <br>
        <div class="row">
            <form class="form-horizontal" ng-submit="submit()">
                <div class="form-group">
                    <div>
                        <textarea class="form-control" rows="3" ng-model="tweet" name="tweet"></textarea>
                    </div>
                </div>
                <div class="pull-right form-group">
                        <button type="submit" class="btn btn-primary">Tweet</button>
                    </div>
            </form>
        </div>

        <div class="row">
            <div class="col-xs-9" id="results">
                <h4>Tweets</h4>
                <div class="row" ng-repeat="t in tweets">
                    <div class="col-xs-1 col-sm-1">
                        <img ng-src="{{t.user.profile_image_url}}" class="img-circle">
                    </div>
                    <div class="col-xs-5 col-sm-11">
                        <small>{{t.user.name}}</small><br>{{t.text}}
                    </div>
                </div>
            </div>
            <div class="col-xs-3" id="followers">
                <h4>Friends</h4>
                <div class="row" ng-repeat="t in followers.users">
                    <div class="col-xs-1 col-sm-1">
                        <img ng-src="{{t.profile_image_url}}" class="img-circle">
                    </div>
                    <div class="col-xs-5 col-sm-11">
                        <small>{{t.name}}</small><br>{{t.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>